<div class="row">
  <div class="col-sm-12">
    <ul class="list-group">
      <li class="list-group-item text-right">
        <a href="/characters/new" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add New</a>
      </li>
      <% @characters.each do |character| %>
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-6"><span class='h3'><%= character.name %></span></div>
            <div class="col-sm-6 text-right">
              <%= link_to 'Play', client_path(play: character.id), class: "btn btn-default", disabled: current_user.active.present? %>
              <a href="<%= character_path(character) %>" class="btn btn-info">See more</a>
              <% if current_user.role == "immortal" %>
                <a href="<%= edit_character_path(character) %>" class="btn btn-success">Edit</a>
                <%= link_to 'Delete', character_path(character), method: :delete, class: 'btn btn-danger' %>
              <% end %>
              <!--<a href="<%= character_path(character) %>/destroy" class="btn btn-danger">Delete</a>-->
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>