<h1><%= @character.name %></h1>
<p><%= @character.description %></p>
<ul class="list-inline">
  <li class="h4">This character appears in the following rooms:</li>
  <% @character.rooms.each do |room| %>
    <li><%= link_to room.name, room_path(room) %></li>
  <% end %>
</ul>
<%= render partial: "shared/show_stats", locals: {stats: @character.stat} %> 
<%= link_to "Edit", edit_character_path(@character), class: 'btn btn-success' %>