<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header"><%= link_to "Redemption on Rails", root_path, class: "navbar-brand" %></div>
    <ul class="nav navbar-nav">
      <li><%= link_to "Characters", characters_path %></li>
      <li><%= link_to "Rooms", rooms_path %></li>
      <li><%= link_to "Items", items_path %></li>
      <li>
				<% if current_user %>
	      	<%= link_to "Logout", destroy_user_session_path, method: :delete %>
	      <% else %>
				  <%= link_to('Login', new_user_session_path)  %>
	      <% end %>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Areas
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <% Area.all.each do |area| %>
            <li><%= link_to area.name, rooms_path(area_id: area.id) %></li>
          <% end %>
          <li><%= link_to "+ New", new_area_path %></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>